Ashutosh_codes/__pycache__/utilities_functions.cpython-38.pyc
Ashutosh_codes/__pycache__/plotting.cpython-38.pyc
Ashutosh_codes/.ipynb_checkpoints
Ashutosh_codes/output
Ashutosh_codes/okteto.yml
.DS_Store
Ashutosh_codes/partial_trace.py
Ashutosh_codes/Qubit_reset_C3_test.ipynb
Ashutosh_codes/Qutip_test_transmon.py
Ashutosh_codes/Qubit_reset_C3_test.ipynb
Ashutosh_codes/.vscode/settings.json
Ashutosh_codes/signal.txt
Ashutosh_codes/ideal_gate.csv
Ashutosh_codes/Qubit_reset_C3_test.ipynb
Ashutosh_codes/Qubit_reset_C3_test_swap.py
Ashutosh_codes/Qubit_reset_C3_swap2.py
Ashutosh_codes/log.txt
Ashutosh_codes/Energy Levels.png
Ashutosh_codes/Before_optimisation.png
Ashutosh_codes/After_optimization.png
Ashutosh_codes/.stignore
Ashutosh_codes/htop_dump.txt
Ashutosh_codes/Qubit Resonator SWAP analysis.pdf
Ashutosh_codes/log2.txt
Ashutosh_codes/cluster.yml
Ashutosh_codes/After_optimization_1.png
Ashutosh_codes/After_optimization_selected_11.png
Ashutosh_codes/After_optimization_selected.png
Ashutosh_codes/Before_optimisation_11.html
Ashutosh_codes/Before_optimisation_11.png
Ashutosh_codes/Second_excited_After_optimization_selected.png
Ashutosh_codes/Second_excited_After_optimization.png
Ashutosh_codes/Second_excited_Before_optimisation.png
Ashutosh_codes/Qubit_reset_C3_Lambda_type.py
Ashutosh_codes/other_files/Before_optimisation_11.png
Ashutosh_codes/other_files/*
Ashutosh_codes/log_*
Ashutosh_codes/Full_swap_*
Ashutosh_codes/Short_swap_*
Ashutosh_codes/Test_Qubit_reset_C3.ipynb
Ashutosh_codes/Short_swap_After_optimization_selected.png
Ashutosh_codes/best_point_iq_opt.txt
Ashutosh_codes/best_point_iq_opt2.txt
Ashutosh_codes/best_point_open_loop.txt
Ashutosh_codes/current_vals_two_carriers.c3log
Ashutosh_codes/open_loop_iq_opt2.txt
Ashutosh_codes/open_loop.txt
Ashutosh_codes/Readout_IQ.png
Ashutosh_codes/Readout_population.png
Ashutosh_codes/setup_c3_cluster.sh
Ashutosh_codes/best_point_swap_and_reaout.txt
Ashutosh_codes/Test_master_pop_2.png
Ashutosh_codes/Distance plot 2.png
Ashutosh_codes/Distance plot.png
Ashutosh_codes/IQ Plot 2.png
Ashutosh_codes/IQ Plot.png
Ashutosh_codes/open_loop_swap_and_reaout.txt
Ashutosh_codes/Test_master_pop.png
Ashutosh_codes/master_eq_sim/Distance plot 2.png
Ashutosh_codes/master_eq_sim/Distance plot.png
Ashutosh_codes/master_eq_sim/IQ Plot 2.png
Ashutosh_codes/master_eq_sim/IQ Plot.png
Ashutosh_codes/master_eq_sim/log.txt
Ashutosh_codes/master_eq_sim/Test_master_eq_optimized_values_run1.c3log
Ashutosh_codes/master_eq_sim/Test_master_eq.hjson
Ashutosh_codes/master_eq_sim/Test_master_pop_2.png
Ashutosh_codes/master_eq_sim/Test_master_pop_after_opt.png
Ashutosh_codes/master_eq_sim/Test_master_pop.png
Ashutosh_codes/best_point_with_lindblad_run1.txt
Ashutosh_codes/open_loop_with_lindblad_run1.txt
Ashutosh_codes/__pycache__/*